*{
    margin: 0;
    font-family: 'roboto', sans-serif;
}
/*set body and html to cover 100% so background-image can cover 100%.*/
body, html{
    height: 100%;
}

/*Background image set to fullscreen.*/
body{
    background-image: url(./img/apocalypse-2570868_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Extra space around inner container and rounded corners.*/
.outside-container{
    width: 20rem;
    height: 24.6rem;
    background-color: lightsteelblue;
    border-radius: 1rem;
}

/*Set container for output and input to column.*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/*Game name color.*/
.container h2{
    color: maroon;
    margin: 0.5rem 0;
}

/*Text-output div background color and size*/
.text-output{
    background-color: lightsteelblue;
    height: 20rem;
    overflow: auto;
    width: 18rem;
}

/*Input text background-color.*/
input{
    background-color: lightcyan;
}

/*Below are holders for flex separation of buttons and input.*/
.inputHolder{
    background: lightsteelblue;
    /*position: fixed;*/
    /*bottom: 0;*/
    display: flex;
    justify-content: space-between;
    width: 18rem;
}

.inputHolder-left{
    display: flex;
    margin: 0.24rem;
}
.inputHolder-right{
    display: flex;
    margin: 0.24rem;
}

/*remove border from buttons and input.*/
button, input{
    border: none;
}

button{
    background-color: peru;
}

/*720px or 45em for larger displays*/
@media(min-width: 45em){
    /*Wider output and input size.*/
    .inputHolder{
        width: 43rem;
    }

    .text-output{
        width: 43rem;
    }

    .outside-container{
        width: 45rem;
    }
}