*{
    margin: 0;
    font-family: 'roboto', sans-serif;
}
/*set body and html to cover 100% so background-image can cover 100%.*/
body, html{
    height: 100%;
}

/*Background image set to fullscreen.*/
body{
    background-image: url(./img/apocalypse-2570868_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
}

/*set container for output and input to column.*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 45rem;
}

/*Game name color.*/
.container h1{
    color: maroon;
}

/*Text-output div background color and size*/
.text-output{
    background-color: grey;
    height: 20rem;
    overflow: auto;
    width: 20rem;
}

/*Spacer between left side and input.*/
.spacer{
    width: 0.5rem;
}

/*Input text background-color.*/
input{
    background-color: lightcyan;
}

/*Below are holders for flex separation of buttons and input.*/
.inputHolder{
    background: grey;
    /*position: fixed;*/
    /*bottom: 0;*/
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

.inputHolder-left{
    display: flex;
}
.inputHolder-right{
    display: flex;
}

/*remove border from buttons and input.*/
button, input{
    border: none;
}

button{
    background-color: peru;
}

/*720px or 45em for larger displays*/
@media(min-width: 45em){
    /*Wider output and input size.*/
    .inputHolder{
        width: 45rem;
    }

    .text-output{
        width: 45rem;
    }
}